@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Dangrek&family=Darumadrop+One&family=Noto+Serif+Todhri&family=Triodion&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, white);
    font-family: Arial, sans-serif;
}
.calculator {
    width: 280px;
    background: linear-gradient(135deg, white, #1e3c72);
    border: 1px solid black;
    
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.calculator:hover {
    transform: scale(1.05);
}
.display {
    width: 100%;
    height: 60px;
    font-size: 1.8em;
    text-align: right;
    margin-bottom: 15px;
    
    border: none;   
    border-radius: 8px;
    background: #e3f2fd;
  
    padding-right: -10px;
    border: 1px solid black;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    
}
button {
    padding: 15px;
    font-size: 1.4em;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    background: #bbdefb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid black; 
    
}
button:active {
    transform: scale(0.95);
}
button.operator { background: lightslategrey; color: black; }
button.equal { background: lightpink; color: black; }
button.clear { background: lightseagreen; color: black; }
img {
    height: 30px;
    width: 30px;
    padding-left: 160px;
    transform: translateY(-30px);



}
p {
    padding-left: 200px;
    transform: translateY(-75px);
    margin-bottom: -50px;
    font-family: "Bona Nova SC", serif;
}